:root {
  --main-color: #12130f;
  --secondary-color: #626b74;
  --accent-color: #5f907d;
}

.App {
  text-align: center;
}
.App-header {
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header h1 {
  color: var(--accent-color);
  font-size: 45px;
  margin: 0;
}

h1 {
  text-align: center;
}

.no-city {
  height: 25%;
  width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .no-city {
    max-width: 300px;
  }
}
